<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <!--定义映射SQL语句的文件（用'/'作路径的隔离）-->
        <mapper resource="user.mapper.xml"/>
    </mappers>
</configuration>

